<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <properties>
        <property name="LOG_HOME">./logs</property>
        <property name="NAME">rpc-service</property>
        <property name="SERVER_FILE_NAME">server</property>
        <property name="CLIENT_FILE_NAME">client</property>
    </properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>

        <RollingRandomAccessFile name="Error" fileName="${LOG_HOME}/${NAME}-error.log"
                                 filePattern="${LOG_HOME}/$${date:yyyy-MM}/%d{MM-dd-yyyy}-%i-error.log.gz">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy.MM.dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
        </RollingRandomAccessFile>
        <RollingFile name="serverFile" fileName="${LOG_HOME}/${NAME}-${SERVER_FILE_NAME}.log"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM}/${NAME}-${SERVER_FILE_NAME}-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="clientFile" fileName="${LOG_HOME}/${NAME}-${CLIENT_FILE_NAME}.log"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM}/${NAME}-${CLIENT_FILE_NAME}-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level - %msg%xEx%n"/>
<!--            <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
    </appenders>
    <loggers>
        <logger name="io.github.tong12580.rpc.client" level="INFO" >
            <appender-ref ref="clientFile"/>
        </logger>
        <logger name="io.github.tong12580.rpc.service" level="INFO" >
            <appender-ref ref="serverFile"/>
        </logger>
        <logger name="io.github.tong12580" level="error">
            <appender-ref ref="Error"/>
        </logger>
        <root level="info">
            <AppenderRef  ref="Console"/>
        </root>
    </loggers>
</configuration>